div {
    width: fit-content;
    margin:auto;
}

h1 {
    font-family:TerminusFontBold;
}

body {
    font-family:TerminusFontBold;
    background: #078D70;
background: linear-gradient(133deg, rgba(7, 141, 112, 1) 0%, rgba(38, 206, 170, 1) 18%, rgba(152, 232, 193, 1) 29%, rgba(255, 255, 255, 1) 43%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 57%, rgba(123, 173, 226, 1) 72%, rgba(80, 73, 204, 1) 84%, rgba(61, 26, 120, 1) 100%);
background-repeat: no-repeat;
min-height: 100vh;
margin: 0;
}

@font-face {
    font-family: 'TerminusFont';
    src: url('/main/fonts/TerminusTTF-4.49.3.woff2');
}

@font-face {
    font-family: 'TerminusFontBold';
    src: url('/main/fonts/TerminusTTF-Bold-4.49.3.woff2');
}

@font-face {
    font-family: 'SheikahFont';
    src: url('/main/fonts/sheikah-complete.otf.woff2');
}